<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.satiro.pdfviwertest">

    <!-- uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" / -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/iconeif"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconeif"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SejaBV"
            android:theme="@style/AppTheme.NoActionBar1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PdfActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MainActivity1" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".Tela1" />
        <activity
            android:name=".Tela2"
            android:label="Início"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>